body{
	background-color: white;
	background-size: cover;
	text-align: center;
	position: relative;
    padding: 100px 0 0;

}
h1{
	text-align: center;
	color: turquoise;
}
form{
	
	margin: 20px auto;
	width: 320px;
	color: black;
}
input{
	padding: 10px;
	font-size: inherit;
	margin-top: 10px;
	margin-bottom: 30px;
	border: 2px solid turquoise;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	color: black;
	resize: vertical;


}

label{
	float: left;
	opacity: 0.7;
}
}
button{
	background-color: turquoise;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}