body{
	background-color: white;
	background-size: cover;
	text-align: center;
	padding: 100px 60px;
	
	
}
h1{
	color: turquoise;
}

input{

	background-color: turquoise;
	width: 50%;
	padding: 15px 30px;
	margin: 12px auto;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	color: black;
	
}
form{
	margin: 20px auto;
	width: 520px;
	color: black;
}

button{
	background-color: turquoise;
	width: 10%;
	padding: 9px 5px;
	border-radius: 4px;
	border: 2px darkblue;
	text-align: center;
	cursor: pointer;
	color: white;
}

h5{
	color: gray;
}
a{
	color: turquoise;
}